🪲: JMAP ContactCard does not support Media with a blobId

### What happened?

Using JMAP: when creating a ContactCard that has a Media object in its `media` properties that references an image using `blobId`, Stalwart gladly accepts creating it using `ContactCard/set`, but when retrieving the same ContactCard object by its id using `ContactCard/get`, it is missing the `media` attribute.

This only happens when using a `blobId` within the Media object -- when using a `uri`, it works as expected, both when `uri` references an external URL, or when it is a `data:` URI.

RFC 9610 (JMAP for Contacts) mentions, in [section 3](https://www.rfc-editor.org/rfc/rfc9610.html#name-contactcards):
> For any Media object in the card (see [Section 2.6.4](https://rfc-editor.org/rfc/rfc9553#section-2.6.4) of [[RFC9553](https://www.rfc-editor.org/rfc/rfc9610.html#RFC9553)]), a new property is defined:
> blobId: Id
> An id for the Blob representing the binary contents of the resource.
> When returning ContactCards, any Media with a URI that uses the "data:" URL scheme [[RFC2397](https://www.rfc-editor.org/rfc/rfc9610.html#RFC2397)] SHOULD return a "blobId" property and omit the "uri" property, as this lets clients load the (potentially large) image file only when needed and avoids the overhead of Base64 encoding. The "mediaType" property MUST also be set. Similarly, when creating or updating a ContactCard, clients MAY send a "blobId" instead of the "uri" property for a Media object.

Unless I'm misunderstanding this section, I'm expecting to be able to create a ContactCard with a Media object that has `blobId` set instead of `uri`, and to be able to get that exact same object back when using `ContactCard/get`.

### How can we reproduce the problem?

I can reproduce the problem by doing the following steps:

### Step 1: Upload an image as a blob

```bash
curl -H 'Content-Type: image/png' -u '***:***' -X POST 'https://***/jmap/upload/b' --data-binary '@photo.png'
```

Successful response:
```json
{
  "accountId": "b",
  "blobId": "ecfpcnaf1awj0dex3t9u0ourvx17cwzxna9effbj7ohat90u01pc7aobuhzmqbq",
  "type": "image/png",
  "size": 12762
}
```

### Step 2: Create a ContactCard
```json
{
  "using": ["urn:ietf:params:jmap:core", "urn:ietf:params:jmap:contacts"],
  "methodCalls": [
    [
      "ContactCard/set",
      {
        "accountId": "b",
        "create": {
          "c": {
            "@type": "Card",
            "kind": "individual",
            "version": "1.0",
            "addressBookIds": {
              "b": true
            },
            "media": {
              "u06Qpfj": {
                "@type": "Media",
                "blobId": "edisn0dfqjqrm2wjm91i1wesq3kdjmcdwjdv2guw2q2g79nja2m7qauwt9zmqbq",
                "kind": "photo"
              }
            },
            "name": {
              "@type": "Name",
              "full": "Lysanne Stanton"
            }
          }
        }
      },
      "0"
    ]
  ]
}
```

Successful response from Stalwart:
```json
{
    "methodResponses": [
        [
            "ContactCard/set",
            {
                "accountId": "b",
                "newState": "ssycq",
                "created": {
                    "c": {
                        "id": "e7"
                    }
                }
            },
            "0"
        ]
    ],
    "sessionState": "7d3cae5b"
}
```

### Step 3: Retrieve that same ContactCard

Request:
```json
{
    "using": [
        "urn:ietf:params:jmap:core",
        "urn:ietf:params:jmap:contacts"
    ],
    "methodCalls": [
        [
            "ContactCard/get",
            {
                "accountId": "b",
                "ids": [
                    "e7"
                ]
            },
            "0"
        ]
    ]
}
```

Response:
```json
{
    "methodResponses": [
        [
            "ContactCard/get",
            {
                "accountId": "b",
                "state": "ssycq",
                "list": [
                    {
                        "name": {
                            "full": "Lysanne Stanton",
                            "@type": "Name"
                        },
                        "kind": "individual",
                        "@type": "Card",
                        "version": "1.0",
                        "id": "e7",
                        "addressBookIds": {
                            "b": true
                        }
                    }
                ],
                "notFound": []
            },
            "0"
        ]
    ],
    "sessionState": "7d3cae5b"
}
```



### Version

v0.14.x

### What database are you using?

RocksDB

### What blob storage are you using?

RocksDB

### Where is your directory located?

LDAP

### What operating system are you using?

Docker

### Relevant log output

```shell
2025-11-18T14:32:19Z TRACE Write batch operation (store.data-write) elapsed = 0ms, total = 2
 2025-11-18T14:32:19Z TRACE HTTP request body (http.request-body) listenerId = "http", localPort = 8080, remoteIp = 172.18.0.2, remotePort = 34844, details = [["host", "stalwart.opencloud.test"], ["user-agent", "xh/0.25.0"], ["content-length", "762"], ["accept", "application/json, */*;q=0.5"], ["accept-encoding", "gzip, deflate, br, zstd"], ["authorization", "Basic YWxhbjpkZW1v"], ["content-type", "application/json"], ["x-forwarded-for", "172.18.0.1"], ["x-forwarded-host", "stalwart.opencloud.test"], ["x-forwarded-port", "443"], ["x-forwarded-proto", "https"], ["x-forwarded-server", "bb5f4796ccce"], ["x-real-ip", "172.18.0.1"]], contents = "{\n  "using": ["urn:ietf:params:jmap:core", "urn:ietf:params:jmap:contacts"],\n  "methodCalls": [\n    [\n      "ContactCard/set",\n      {\n        "accountId": "b",\n        "create": {\n          "c": {\n            "@type": "Card",\n            "kind": "individual",\n            "version": "1.0",\n            "addressBookIds": {\n              "b": true\n            },\n            "media": {\n              "u06Qpfj": {\n                "@type": "Media",\n                "blobId": "edisn0dfqjqrm2wjm91i1wesq3kdjmcdwjdv2guw2q2g79nja2m7qauwt9zmqbq",\n                "kind": "photo"\n              }\n            },\n            "name": {\n              "@type": "Name",\n              "full": "Lysanne Stanton"\n            }\n          }\n        }\n      },\n      "0"\n    ]\n  ]\n}\n", size = 762
 2025-11-18T14:32:19Z TRACE Data store iteration operation (store.data-iterate) elapsed = 0ms
 2025-11-18T14:32:19Z DEBUG Cache hit (store.cache-hit) accountId = 1, collection = "addressBook", changeId = 661, elapsed = 0ms
 2025-11-18T14:32:19Z TRACE Write batch operation (store.data-write) elapsed = 0ms, total = 3
 2025-11-18T14:32:19Z TRACE Write batch operation (store.data-write) elapsed = 0ms, total = 11
 2025-11-18T14:32:19Z DEBUG JMAP method call (jmap.method-call) listenerId = "http", localPort = 8080, remoteIp = 172.18.0.2, remotePort = 34844, id = "ContactCard/set", accountId = 1, elapsed = 0ms
 2025-11-18T14:32:19Z TRACE HTTP response body (http.response-body) listenerId = "http", localPort = 8080, remoteIp = 172.18.0.2, remotePort = 34844, contents = "{"methodResponses":[["ContactCard/set",{"accountId":"b","newState":"ssycq","created":{"c":{"id":"e7"}}},"0"]],"sessionState":"7d3cae5b"}", code = 200, size = 136
 2025-11-18T14:32:58Z DEBUG Cache update (store.cache-update) accountId = 1, collection = "addressBook", changeId = 662, details = 1, total = 31, elapsed = 0ms
 2025-11-18T14:32:58Z DEBUG JMAP method call (jmap.method-call) listenerId = "http", localPort = 8080, remoteIp = 172.18.0.2, remotePort = 34844, id = "ContactCard/get", accountId = 1, elapsed = 0ms
 2025-11-18T14:32:58Z TRACE HTTP response body (http.response-body) listenerId = "http", localPort = 8080, remoteIp = 172.18.0.2, remotePort = 34844, contents = "{"methodResponses":[["ContactCard/get",{"accountId":"b","state":"ssycq","list":[{"name":{"full":"Lysanne Stanton","@type":"Name"},"kind":"individual","@type":"Card","version":"1.0","id":"e7","addressBookIds":{"b":true}}],"notFound":[]},"0"]],"sessionState":"7d3cae5b"}", code = 200, size = 268
```

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct