🚀: Support JSContact (RFC 9553) for storing contacts

### Which feature or improvement would you like to request?

In the IETF’s [RFC 9553](https://datatracker.ietf.org/doc/html/rfc9553/), **JSContact**, a new standard for JSON Representation of Contact Data has been published. I believe this could be the final solution for the major issue of contact cards compatibility!

**Additional context**
- [RFC 9554](https://datatracker.ietf.org/doc/html/rfc9554/): *vCard Format Extensions for JSContact*
- [RFC 9555](https://datatracker.ietf.org/doc/html/rfc9555/): *JSContact: Converting from and to vCard*

### Is your feature request related to a problem?

_No response_

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct